<section ng-controller="createRecipe">

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="container">Create a Recipe!</h1>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <input class="form-control" type="text" ng-model="recipe.name" placeholder="Name Your Recipe"></input>
        <br>
        <textarea class="form-control" ng-model="recipe.description" placeholder="Add a Description"></textarea>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <input class="form-control" type="text" ng-model="ingredient.name" placeholder="Ingredient"></input>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <input class="form-control" type="text" ng-model="ingredient.quantity" placeholder="Quantity"></input>
          <span class="input-group-btn">
            <button class="btn btn-secondary" ng-click="addIngredient()">add</button>
          </span>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <textarea class="form-control" ng-model="recipe.instructions" placeholder="Add Instructions"></textarea>
      </div>
    </div>

    <br>

    <div class="row">  
      <div class="col-md-2 col-md-offset-9">
        <button class="btn btn-primary" ng-click="submitRecipe()">Submit</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1> {{ recipe.name }} </h1>
        <h4> {{ recipe.description }} </h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2> Ingredients </h2>
        <ul>
          <li ng-repeat="item in recipe.ingredients">
            <p> <strong>{{ item.name }}</strong>  |  {{ item.quantity }} </p>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>Instructions</h2>
        <h4> {{ recipe.instructions }} </h4>
      </div>
    </div>

</section>

<!--       <li ng-repeat="ingredient in recipe.ingredients">
          <p> {{ ingredient.name }} <strong> {{ ingredient.quantity }} </strong> </p>
      </li>

      <p> </p> -->