<section ng-controller="createRecipe">
  <h1>Create a Recipe!</h1>
  
  <form>

    <input type="text" ng-model="recipe.name" placeholder="Name Your Recipe"></input>
    <h1> {{ recipe.name }} </h1>

    <textarea ng-model="recipe.description" placeholder="Add a Description"></textarea>
    <p> {{ recipe.description }} </p>

    <span>
      <input type="text" ng-model="ingredient.name" placeholder="Ingredient"></input>
      <input type="text" ng-model="ingredient.quantity" placeholder="Quantity"></input>
      <button ng-click="addIngredient()">add</button>
    </span>
    <li ng-repeat="ingredient in recipe.ingredients">
        <p> {{ ingredient.name }} <strong> {{ ingredient.quantity }} </strong> </p>
    </li>

    <p> </p>

    <textarea ng-model="recipe.instructions" placeholder="Add Instructions"></textarea>
    <p> {{ recipe.instructions }} </p>

    <button ng-click="submitRecipe()">Submit</button>

  </form>
</section>