<section ng-controller="recipeList">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Recipes</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <input class="form-control" type="search" ng-model="search" placeholder="search"></input>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div ng-repeat="recipe in recipeList | filter:search">
        <h2 ng-click="goToRecipe(recipe)" style="cursor: pointer"> {{ recipe.name }} </h2>
        <h4> {{ recipe.description }} </h4>
      </div>
    </div>
  </div>

</section>