<section ng-controller='viewRecipe'>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1> {{ recipe.name }} </h1>
      <h4> {{ recipe.description }} </h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Ingredients</h2>
      <ul>
        <li ng-repeat="item in recipe.ingredients">
          <p> <strong>{{ item.name }}</strong>  |  {{ item.quantity }} </p>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Instructions</h2>
      <h4> {{ recipe.instructions }} </h4>
    </div>
  </div>

</section>